@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full overflow-x-hidden bg-primary-1 text-zinc-50;
  }
  html {
    @apply h-full;
  }
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.45rem;
}

::-webkit-scrollbar-track {
  background: #090c08;
}

::-webkit-scrollbar-thumb {
  background: #757083;
  border-radius: 999px;
}

/* html {
  scrollbar-gutter: stable;
} */
